<html>
  <body>
  <div class="card-body">
    <h1>Voici le contenu du potin n°<%=params['id']%> : </h1>
    <p>
      <p><strong>Le titre :</strong> <%= Gossip.find(params['id']).title%></p>
      <p><strong>Le contenu :</strong> <%= Gossip.find(params['id']).content%></p>
      <p><strong>L'auteur :</strong> <%= User.find(params['id']).first_name%> <%= User.find(params['id']).last_name%></p>
      <p><strong>Sa ville : </strong> <%= City.find(params['id']).name%></p>

    <div class="d-flex">
    <%= button_to "Supprimer le potin", gossip_path(@gossip.id), class: 'btn btn-danger', method: :delete%>
    <a href="<%= edit_gossip_path(@gossip.id) %>" class="btn btn-primary"> Editer le potin </a>
    <a href="<%= new_gossip_comment_path(@gossip.id) %>" class="btn btn-outline-primary">Ecrire un commentaire</a>
    </div>

  </div>

  <div class="card-body">


  <h2>Retrouve ici les derniers commentaires concernant ce potin :</h2>


    <% Comment.all.each  do |comment| %>
      <div class="card">
      <p><%= comment.content %></p>
      <p> <footer class="blockquote-footer">Auteur : Anonyme </footer> </p>
    <div class="d-flex">
      <%= button_to "Supprime le commentaire", gossip_comment_path(@gossip.id), class: 'btn btn-outline-danger ml-5', method: :delete%>
      <%= link_to "Edite le commentaire", edit_gossip_comment_path(@gossip.id), class: "btn btn-outline-primary" %>
    </div>
    <%end%>

  </div>

  <p><a href='/' class="btn btn-secondary">Revenir à la page d'accueil</a></p>

  </div>

  </body>
</html>
